<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <title>Simple Chat App</title>
</head>
<style>
    .logoutLblPos {
        position: fixed;
        right: 10px;
        top: 5px;
    }
    @mixin vertical-align {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
</style>

<body>
    <script>
        function sendMessage(data) {
            console.log("data is here2", data)
        }
    </script>
    <form align="right" name="form1" method="get" action="/auth/logout">
        <label class="logoutLblPos">
            {{#if user._id}}
            <input name="submit2" style="margin-right: 60px;
    margin-top: 12px;
    width: 146px;" type="submit" id="submit2" value="log out"> {{/if}}
        </label>
    </form>
    <header>
        <h1>{{user.userType}} Chat</h1>
    </header>
    <section id="chatroom">
        <section id="feedback"></section>
        {{#each info2}}
        <p class='message' style='font-size:20px;'>{{this.name}}: {{this.msg}}</p>
        {{/each}}
    </section>
    <section id="input_zone">
        <input id="message" style="margin-left: -4px;
    width: 1185px;
    font-size: 24px;
    text-align: -webkit-center;
    height: 30px;" class="vertical-align" type="text" />
        <input type="hidden" id="userType" name="userType" value="{{{info.userType}}}">
        <input type="hidden" id="userType" name="userType" value="{{{info.userType}}}">
        <input type="hidden" id="id" name="id" value="{{{info._id}}}">
        <input type="hidden" id="name" name="name" value="{{{user.firstName}}}">
        <input type="hidden" id="senderId" name="senderId" value="{{{user._id}}}">
        <input type="hidden" id="senderType" name="senderType" value="{{{user.userType}}}">
        <button id="send_message" style="position: relative;
    top: -18px;
    padding-bottom: 31px;
    text-align: center;
    padding-right: 115px;
    width: 117px;
    right: -26px;
    margin-left: -5px;
    margin-top: 43px;
    padding-left: 59px;" class="vertical-align" type="button">Send</button>
    </section>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/chat.js"></script>
</body>

</html>