<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: auto;
            text-align: center;
            font-family: arial;
        }

        .wrapper {
            text-align: center;
        }

        .title {
            color: grey;
            font-size: 18px;
        }

        .button {
            background-color: #4CAF50;
            /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            -webkit-transition-duration: 0.4s;
            /* Safari */
            transition-duration: 0.4s;
        }

        button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

        a {
            text-decoration: none;
            font-size: 22px;
            color: black;
        }

        .button2:hover {
            box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        }

        button:hover,
        a:hover {
            opacity: 0.7;
        }

        .column {
            float: left;
            width: 50%;
        }

        .logoutLblPos {

            position: fixed;
            right: 10px;
            top: 5px;
        }

        /* Clear floats after the columns */

        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>

<body>
    <form align="right" name="form1" method="get" action="/auth/logout">
        <label class="logoutLblPos">
            {{#if user._id}}
            <input name="submit2" style="margin-right: 60px;
    margin-top: 12px;
    width: 146px;" type="submit" id="submit2" value="log out"> {{/if}}
        </label>
    </form>
    <div class="row">
        <div class="column">
            <h2 style="text-align:center; margin-left: 104px;">Profile</h2>
            <div class="card" style="margin-left: 48px;">
                <img src="/team2.jpg" alt="John" style="width:100%">
                <h1>{{info.firstName}} {{info.lastName}}</h1>
                <p class="title">{{info.userType}}</p>
                <p>Harvard University</p>
                <br/>
                <br/>
                <br/>
                <br/>
                <p>
                    <button>Contact</button>
                </p>

            </div>
        </div>
        <div class="column" style="background-color:white;margin-top: 113px;">
            <h1 style="font-size: 30px;">First Name : {{info.firstName}}</h1>
            <h1 style="font-size: 30px;">Last Name : {{info.lastName}}</h1>
            <h1 style="font-size: 30px;">Email : {{info.email}}</h1>
            <h1 style="font-size: 30px;">User Type : {{info.userType}}</h1>
        </div>
        <div class="wrapper">
            <a href="/patient/getPatients" class="button button2" style=" width: 498px;margin-top: 47px;">Patients list</a>
        </div>
        <div class="wrapper">
            <a href="/admin/getadmins" class="button button2" style=" width: 498px;margin-top: 47px;">Admin chat</a>
        </div>
    </div>




</body>

</html>