<head>
    <style>
        .wrapper {
            text-align: center;
        }

        .wrappersignup {
            text-align: center;
        }

        .button {
            background-color: #4CAF50;
            /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            -webkit-transition-duration: 0.4s;
            /* Safari */
            transition-duration: 0.4s;
        }

        .button2:hover {
            box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        }
    </style>

    <p style="text-align:center;color:rgb(19, 163, 240);font-size:90%;padding-top:10px">

        <div class="menu" style="color:dodgerblue">{{title}}</div>
        <div class='error'>{{message}}</div>
    </p>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <form action="/admin/update/{{{info.userType}}}/{{{info._id}}}" method="post" role="form" enctype="application/x-www-form-urlencoded">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" name="firstName" id="first_name" value="{{{info.firstName}}}" placeholder="First Name">
                    </div>

                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" name="lastName" id="first_name" value="{{{info.lastName}}}" placeholder="Last Name">
                    </div>

                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="text" class="form-control" name="email" id="email" value="{{{info.email}}}" placeholder="Email Address">
                    </div>
                    <input type="hidden" id="userType" name="userType" value="{{{info.userType}}}">
                    <div class="wrappersignup"></div>
                    <button type="submit" style="margin-left: 390px; width: 334px;
                       margin-top: 24px;padding: 13px 32px;" class="btn btn-primary">Update</button>
            </div>
            </form>
        </div>
    </div>
    </div>
</head>