<head>
    <style>
        
        .wrapper {
            text-align: center;
        }

        .wrapperlogin {
            text-align: center;
        }

        .button {
            background-color: #4CAF50;
            /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            -webkit-transition-duration: 0.4s;
            /* Safari */
            transition-duration: 0.4s;
        }

        .button2:hover {
            box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        }
    </style>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <form action="/auth/login" method="post" role="form" enctype="application/x-www-form-urlencoded">
                    <legend>Enter Login information here</legend>

                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="text" class="form-control" name="email" id="email" placeholder="Email Address">
                    </div>

                    <div class="form-group">
                        <label for="pw">Password</label>
                        <input type="password" class="form-control" name="password" id="pw">
                    </div>
                    <div class='form-group'>
                        <select name="userType">
                            <option value="">select</option>
                            {{#each info}}
                            <option value="{{{this}}}">{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="wrapperlogin"></div>
                    <button type="submit" style="margin-left: 390px; width: 334px;
                       margin-top: 24px;padding: 13px 32px;" class="btn btn-primary">Login</button>
            </div>
            <br/>
            <div class="wrapper">
                <a href="/auth/signup" class="button button2" style=" width: 498px;margin-top: 47px;">Click here for register</a>
            </div>

            </form>
        </div>
    </div>
    </div>
</head>