<head>
    <style>
        .wrapper {
            text-align: center;
        }
        .wrappersignup {
            text-align: center;
        }
        .button {
            background-color: #4CAF50;
            /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            -webkit-transition-duration: 0.4s;
            /* Safari */
            transition-duration: 0.4s;
        }

        .button2:hover {
            box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        }
    </style>

<p style="text-align:center;color:rgb(19, 163, 240);font-size:90%;padding-top:10px">

    <div class="menu" style="color:dodgerblue">{{title}}</div>
    <div class='error'>{{message}}</div>
</p>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form action="/auth/signup" method="post" role="form" enctype="application/x-www-form-urlencoded">
                <legend>Enter Registration Information Here</legend>

                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="first_name" placeholder="First Name">
                </div>

                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="first_name" placeholder="Last Name">
                </div>

                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="text" class="form-control" name="email" id="email" placeholder="Email Address">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="pw">
                </div>

                <div class="form-group">
                    <label for="pw_confirm">Confirm Password</label>
                    <input type="password" class="form-control" name="pw_confirm" id="pw_confirm">
                </div>
                <div class='form-group'>
                    <select name="userType">
                        <option value="">select</option>
                        {{#each info}}
                        <option value="{{{this}}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="wrappersignup"></div>
                <button type="submit" style="margin-left: 390px; width: 334px;
                       margin-top: 24px;padding: 13px 32px;" class="btn btn-primary">Sign up</button>
        </div>
        <br/>
        <div class="wrapper">
            <a href="/auth/login" class="button button2" style=" width: 498px;margin-top: 47px;">Click here for login</a>
        </div>
        </form>
    </div>
</div>
</div>
</head>