<!DOCTYPE html>
<html>

<head>
    <style>
        #doctor {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #doctor td,
        #doctor th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #doctor tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #doctor tr:hover {
            background-color: #ddd;
        }

        .logoutLblPos {

            position: fixed;
            right: 10px;
            top: 5px;
        }

        #doctor th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>

<body>
    <form align="right" name="form1" method="get" action="/auth/logout">
        <label class="logoutLblPos">
            {{#if user._id}}
            <input name="submit2" style="margin-right: 60px;
    margin-top: 12px;
    width: 146px;" type="submit" id="submit2" value="log out"> {{/if}}
        </label>
    </form>
    <table id="doctor">
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Chat now</th>
            {{#comparison user.userType 'Admin'}}
            <th>Action</th>
            {{/comparison}}
        </tr>
        {{#each info}}
        <tr>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.email}}</td>
            <td>
                <a href="/chat/history?{{{this.userType}}}={{{this._id}}}">Chat</a>
            </td>
            {{#comparison ../user.userType 'Admin'}}
            <td>
                <a href="/admin/get/{{this.userType}}/{{this._id}}">Edit</a>
            </td>
            {{/comparison}}
        </tr>
        {{else}}
        <h style="margin-left: 465px;font-size: 19px;">Record not found</h> {{/each}}
    </table>
    <div class="wrapper">
        <a href="" class="button button2" style=" width: 498px;margin-left: 463px;">Back to your profile</a>
    </div>

</body>

</html>